@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #009579;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.container .registration{
  display: none;
}
#check:checked ~ .registration{
  display: block;
}
#check:checked ~ .login{
  display: none;
}
#check{
  display: none;
}
.container .form{
  padding: 2rem;
}
.form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
 .form input{
   height: 60px;
   width: 100%;
   padding: 0 15px;
   font-size: 17px;
   margin-bottom: 1.3rem;
   border: 1px solid #ddd;
   border-radius: 6px;
   outline: none;
 }
 .form input:focus{
   box-shadow: 0 1px 0 rgba(0,0,0,0.2);
 }
.form a{
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover{
  text-decoration: underline;
}
.form input.button{
  color: #fff;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.form input.button:hover{
  background: #006653;
}
.signup{
  font-size: 17px;
  text-align: center;
}
.signup label{
  color: #009579;
  cursor: pointer;
}
.signup label:hover{
  text-decoration: underline;
}

.error {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.error_circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.error_check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}



button{
  background-color: transparent;


}

.header {
display: flex;
justify-content: center;
align-items: center;
height: 80px;
background-color: #009579;
color: #fff;
}

.title {
margin-right: auto;
padding-left: 20px;
font-size: 50px;
font-weight: 600;
background-image: linear-gradient(#0044ff, #00fff2, #d9f00c, #009579);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
}

a:hover {
color: #f8f9fa;
}

.nigar {

  vertical-align: middle;
  font-size: 34px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #009579;
}
.button-cell {
  
  text-align: center;
}
.button {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  background-color: #009579;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkmark {
margin: 0 auto;
margin-bottom: 15px;
width: 56px;
height: 56px;
border-radius: 50%;
display: block;
stroke-width: 2;
stroke: #fff;
stroke-miterlimit: 10;
box-shadow: inset 0px 0px 0px #7ac142;
animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__circle {
stroke-dasharray: 166;
stroke-dashoffset: 166;
stroke-width: 2;
stroke-miterlimit: 10;
stroke: #7ac142;
fill: none;
animation: stroke .6s cubic-bezier(0.650, 0.000, 0.450, 1.000) forwards;
}

.checkmark__check {
transform-origin: 50% 50%;
stroke-dasharray: 48;
stroke-dashoffset: 48;
animation: stroke .3s cubic-bezier(0.650, 0.000, 0.450, 1.000) .8s forwards;
}

@keyframes stroke {
100% {
  stroke-dashoffset: 0;
}
}

@keyframes scale {
0%, 100% {
  transform: none;
}
50% {
  transform: scale3d(1.1, 1.1, 1);
}
}

@keyframes fill {
100% {
  box-shadow: inset 0px 0px 0px 30px #7ac142;
}
}

.modal-body {
display: block;
margin: 0 auto;
}

.button-58 {
align-items: center;
background-color: rgb(0, 255, 76);
border: 2px solid rgba(20, 122, 0, 0.466);
box-sizing: border-box;
color: #fff;
cursor: pointer;
display: inline-flex;
fill: #000;
font-family: Inter,sans-serif;
font-size: 16px;
font-weight: 600;
height: 48px;
justify-content: center;
letter-spacing: -.8px;
line-height: 24px;
min-width: 140px;
outline: 0;
padding: 0 17px;
text-align: center;
text-decoration: none;
transition: all .3s;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-58:focus {
color: #171e29;
}

.button-58:hover {
background-color: #00bc19;
border-color: #3cff00;
fill: rgb(0, 201, 27);
}

.button-58:active {
background-color: #005b14;
border-color: #00ff4c;
fill: rgb(0, 104, 22);
}

@media (min-width: 768px) {
.button-58 {
  min-width: 170px;
}
}